version: 2
updates:
  # Enable version updates for npm
  - package-ecosystem: "npm"
    # Look for `package.json` and `lock` files in the `root` directory
    directory: "/"
    # Check for updates once a week
    schedule:
      interval: "weekly"
    # Up to 10 open PRs - the default is 5
    open-pull-requests-limit: 10
    # Updates to the latest version but keeps the range format
    # This setting was chosen because this is a learning project
    versioning-strategy: increase
